.verify-sign form input {
    margin: 10px !important;
}

.verify-sign .verify-sign-up {
    min-height: 500px;
    height: auto;
}

.w button {
    margin-top: 7px !important;
    padding: 10px 25px;
}