.student.container-fluid {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 0;
}

.profile-student.row {
    width: 100%;
    height: 100%;
    margin: 0;
}

.row .dashborad {
    display: flAex;
    padding: 0;
}

.bord-dark {
    border-right: .5px solid var(--seconed-color-dark);
}

.bord-light {
    border-right: .5px solid blueviolet;
}

.row .student-content {
    min-height: 100vh;
    height: auto;
    padding: 0;
    background-color: var(--third-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-group {
    width: 400px !important;
    height: 500px !important;
    border-radius: 20px;
}

.create-group-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-group-form label {
    text-align: center;
    font-size: 42px;
}

.create-group-form input {
    margin: 20px;
}

.create-group-form button {
    margin: 20px;
}

.icon-side {
    padding: 8px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

.icon-side p {
    padding: 3px 0 0 0;
}

.icon-side:hover {
    cursor: pointer;
}