.logo img {
    width: 90px;
    height: 90px;
}


.icons {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .9s;
}

.icon1,
.icon2 {
    transition: .9s;
    cursor: pointer;
}



.dark {
    background-color: var(--third-color-dark);
}

.light {
    background-color: var(--third-color-light);
}

.navlink {
    color: white;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
}

.dark-mode:hover {
    background-color: var(--seconed-color-dark);
    transition: 1s;
    border-radius: 3px;
    color: black;
}

.light-mode:hover {
    background-color: var(--seconed-color-light);
    transition: 1s;
    border-radius: 3px;
    color: black;
}

.light-mode.active {
    border: 2px solid var(--seconed-color-light);
}

.dark-mode.active {
    border: 2px solid var(--seconed-color-dark);
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
[type=button]:focus {
    color: aliceblue;
}

@media (max-width : 399px) {

    button,
    [type=button]:not(:focus) {
        border: none;
    }

    .navbar-toggler {
        margin-left: 20%;
        position: relative;
    }

    .icons {
        position: absolute;
        margin-left: 280px;
        top: 38px;
    }

    .links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }

    .links ul li {
        padding: 10px;
    }

}

@media (max-width:767px) {



    button,
    [type=button]:not(:focus) {
        border: none;
    }

    .navbar-toggler {
        margin-left: 44%;
        position: relative;
    }

    .icons {
        position: absolute;
        margin-left: 62%;
        top: 38px;
    }

    .links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }

    .links ul li {
        padding: 10px;
    }
}

@media (min-width : 768px) and (max-width : 991px) {

    button,
    [type=button]:not(:focus) {
        border: none;
    }

    .navbar-toggler {
        margin-left: 55%;
        position: relative;
    }

    .icons {
        position: absolute;
        margin-left: 64%;
        top: 38px;
    }

    .links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }

    .links ul li {
        padding: 10px;
    }
}