.note {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--third-color-dark);
    display: flex;
    flex-direction: column;
}


.message-note {
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--third-color-dark);
    margin-top: 10px;
}

.message-note:hover {
    background-color: var(--main-color-dark);
    cursor: pointer;
}

.message-note .num-msg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}