.verify {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: var(--third-color-dark);
    background-image: linear-gradient(to bottom, var(--thirdColor), var(--mainColorLight), var(--thirdColor));
}

.row.verify-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.verify-sign .verify-sign-up {
    display: flex;
    min-width: 320px;
    width: 22%;
    height: 500px;
    /* background-color: var(--main-color-dark); */
    border-radius: 16px;
}

.verify-sign-up form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.verify-sign-up form label {
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 20px;
    /* padding-top: 70px; */
    text-align: center;
}


.verify-sign .verify-sign-up form input {
    padding: 15px;
    margin: 15px;
    margin-top: 25px;
}

.verify-sign .verify-sign-up form a {
    margin: 15px;
    text-decoration: none;
}

.dark-verify {
    box-shadow: 5px 20px 50px var(--seconed-color-dark);
    /* background-color: var(--third-color-dark); */
}

.light-verify {
    box-shadow: 5px 20px 50px var(--seconed-color-light);
    background: #0f0050;
}

.regg {
    font-size: 35px !important;
    background-color: transparent;
    font-size: 39px !important;
}

.reg-text {
    color: white;
}